<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCA Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>CCA Schedule</h1>
            <a href="{{ url_for('admin') }}" class="admin-link">Admin Page</a>
        </div>
    </header>


    <div class="container">
        <p>Today is {{ current_date }}.</p>
        {% if cca_info.is_cca %}
        <p class="cca-yes">Yes, there is CCA today!<br><h6>Why?</h6><br>{{ cca_info.subject }}</p>
            <p class="cca-yes">Time: {{ cca_info.start_time }} to {{ cca_info.end_time }}</p>
        {% else %}
            <p class="cca-no">No, there is no CCA today.</p>
        {% endif %}

    </div>
</body>
</html>
